name: Zig CI

on:
  push:
    branches: [ "master" ]
    tags:
      - '*'
    paths:
      - 'src/**'
      - 'build.*'
      - '.github/workflows/zig.yml'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'build.*'
      - '.github/workflows/zig.yml'

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: 
        - "x86_64-linux-gnu"
        - "x86_64-linux-musl"
        - "x86_64-macos"
        - "x86_64-freebsd"
        - "x86_64-netbsd"
        - "x86_64-windows"
        - "arm-freebsd"
        - "arm-netbsd"
        - "aarch64-linux-gnu"
        - "aarch64-linux-musl"
        - "aarch64-macos"
        - "aarch64-freebsd"
        - "aarch64-netbsd"
        - "aarch64-windows"
        - "riscv64-linux-gnu"
        - "riscv64-linux-musl"
        - "riscv64-freebsd"
        - "loongarch64-linux-gnu"
        - "loongarch64-linux-musl"
        - "powerpc-freebsd"
        - "powerpc-netbsd"
        - "riscv32-linux-gnu"
        - "riscv32-linux-musl"

    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Zig
      uses: mlugg/setup-zig@v2.1.0
      with:
        version: "0.15.2"

    - name: Build
      run: |
        zig build -Doptimize=ReleaseSmall -Dtarget=${{ matrix.target }}
        cd "${{ github.workspace }}/zig-out/bin/"
        tar -czvf ${{ matrix.target }}.tar.gz *

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: zapaste-cli-${{ matrix.target }}
        path: "${{ github.workspace }}/zig-out/bin/*.tar.gz"

  release:

    runs-on: ubuntu-latest
    needs:
      - build
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')

    permissions:
      contents: write

    steps:

      - name: Download a Build Artifact
        uses: actions/download-artifact@v4.3.0
        with:
          path: "downloaded-artifacts"
          merge-multiple: false

      - name: List Downloaded Artifacts
        run: ls -R downloaded-artifacts

      - name: Create Release Draft
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          generateReleaseNotes: true
          artifacts: "downloaded-artifacts/*"
          token: ${{ secrets.GITHUB_TOKEN }}